.logo__image { 
  padding: 10px;
}
@media (min-width: 960px) {
  .bd-sidebar-primary {
    width: auto;
    padding-right: 2rem;
  }
}

/* Google Blue for h3 */
h3 {
  color: #4285F4 !important;
}

h3:nth-of-type(4n+1) { color: #4285F4 !important; } /* Blue */
h3:nth-of-type(4n+2) { color: #EA4335 !important; } /* Red */
h3:nth-of-type(4n+3) { color: #FBBC05 !important; } /* Yellow */
h3:nth-of-type(4n+4) { color: #34A853 !important; } /* Green */
